@font-face {
    font-family: 'Quentin';
    src: url('https://rodcordeiro.github.io/shares/fonts/Quentin/Quentin.eot');
    src: url('https://rodcordeiro.github.io/shares/fonts/Quentin/Quentin.eot?#iefix') format('embedded-opentype'),
        url('https://rodcordeiro.github.io/shares/fonts/Quentin/Quentin.woff2') format('woff2'),
        url('https://rodcordeiro.github.io/shares/fonts/Quentin/Quentin.woff') format('woff'),
        url('https://rodcordeiro.github.io/shares/fonts/Quentin/Quentin.ttf') format('truetype'),
        url('https://rodcordeiro.github.io/shares/fonts/Quentin/Quentin.svg#Quentin') format('svg');
    font-weight: normal;
    font-style: normal;
}

